html, main {
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  color: #222;
}
/*
 * Navbar
 */
  .navbar {
    padding: .5rem;
    background: #AEDCC0
  }

  .brand-image {
    width: 100%;
    height: 100%;
  }
  .navbar .form-control {
    padding: .45rem 1rem;
    border-width: 0;
    border-radius: 0.5;
    background: rgba(232, 241, 238, 0.7);
  }
  
  .form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
  }
  
  .form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
  }
  .navbar-brand {
  position: relative;
  }

  .btnmenu {
    background: rgba(232, 241, 238, 0.7);
    margin-right: 0.2em;    
  }

  .btnmenu:hover{
    background: #086644;
    color: #fff;
  }

  /****** LOGIN MODAL ******/
.loginmodal-container {
  padding: 30px;
  max-width: 350px;
  width: 100% !important;
  background-color: #AEDCC0;
  margin: 0 auto;
  border-radius: 4px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.loginmodal-container h1 {
  text-align: center;
  font-size: 1.4em;
  
}

.loginmodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
  background: #086644;
  color: #fff;
}

.loginmodal-container input[type=text], input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: rgba(232, 241, 238, 0.7);
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
/* border-radius: 3px; */
/* -webkit-user-select: none;
  user-select: none; */
}


.loginmodal-container a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
} 

.login-help{
  font-size: 12px;
}


/*
 * Navbar End
 */
  .wrapper {
    display: flex;
    /* align-items: stretch;*/ 
  }

 /*
 * Sidebar
 */
  #sidebar {
    min-width: 250px;
    max-width: 250px;
   min-height: 100vh;
    background: #AEDCC0;
    color:;
    transition: all 0.3s;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  #sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #fff;
  }

  #sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
  }

  #sidebar ul li a:hover {
    color: #086644;
    background: #fff;
  }

  #sidebar ul li.active > a, a[aria-expanded="true"] {
    color:;
    background: rgba(232, 241, 238, 0.7);
  }

  ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #AEDCC0;
}

  #sidebar.active {
    margin-left: -250px;
  }

  a[data-toggle="collapse"] {
    position: relative;
  }

  .dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
  }

  a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

  /*
 * Sidebar End
 */
  .carousel-inner img {
    width: 100%;
    height: 312px;
    
  }

  .buy:hover{
    background-color: #086644;
    color: #fff;
  }

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(232, 241, 238, 0.7);
  }
  .image:hover .overlay {
    opacity: 1;
  }
  .details {
    color: #434444;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  
  }

  .buy {
    background-color: transparent;
    color: #434444;
    border-radius: 0;
    border: 1px solid #434444;
    width: 100%;
    font-size: 0.8em;
  }

  h6 {
    font-size: 0.8em;
  }
  h5 {
    font-size: 1em;
  }

  .fa-shopping-cart {
    height: 0.9em;
  }

  .row {
    height: 100%;
  }

  .product-grid {
    padding-bottom: 10px;
    padding-top: 20px;
  
  }
  .product-grid:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .image {
    position: relative;
    width: 100%;
  }
  .product{
   height: 60px;
   padding-top: 0.5em; 
  }

  .newarrival {
    background: green;
    width: 65px;
    color: white;
    font-size: 12px;
    font-weight: bold;
  }
  .price {
    color: ;
    font-size: 26px;
    font-weight: bold;
    padding-top: 20px;
  }
  .quantity {
    border: 1px solid #ccc;
    font-weight: bold;
    height: 33px;
    text-align: center;
    width: 30px;
  }

}
.padding {
  padding-bottom: 2rem;
}
.about-us {
  text-align: justify;
}

.container {
    padding-top: 50px;
}

  .social a {
    font-size: 4.5em;
    padding: 3rem;
  }
  .fa-facebook {
    color: #3b5998;
  }
  .fa-instagram {
    color: #517fa4; 
  }
  .fa-facebook:hover,
  .fa-instagram:hover {
    color: #d5d5d5;
  }

  footer {
    background-color: #086644;
    color: #d5d5d5;
    padding-top: 2rem;
  }
  hr.light {
    border-top: 1px solid #d5d5d5;
    width: 75%;
    margin-top: .8rem;
    margin-bottom: 1rem;
  }
  hr.light-100 {
    border-top: 1px solid #d5d5d5;
    width: 100%;
    margin-top: .8rem;
    margin-bottom: 1rem;
  }

  @media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}

/*---Media Queries --*/
@media (max-width: 992px) {
  .social a {
    font-size: 4em;
    padding: 2rem;
  }
    }
  @media (max-width: 768px) {
    .carousel-caption {
      top: 45%;
      
      }
      .carousel-caption h1 {
        font-size: 350%;
      }
      .carousel-caption h3 {
        font-size: 140%;
        font-weight: 400;
        padding-bottom: .2rem;
      }   
      .display-4 {
        font-size: 200%;
      }
      .social a {
        font-size: 2.5em;
        padding: 1.2rem;
      }
  }
  @media (max-width: 576px) {
    .carousel-caption {
      top: 40%;
      
      }
      .carousel-caption h1 {
        font-size: 250%;
      }
      .carousel-caption h3 {
        font-size: 110%;
      }  
      .carousel-indicators {
        display: none;
      } 
      .display-4 {
        font-size: 160%;
      }
      .social a {
        font-size: 2em;
        padding: .7rem;
      }
      .fa-shopping-cart {
        height: 0.7em;
      }
      .buy {
        font-size: 0.6em;
      }
  }
  
  
  /*---Firefox Bug Fix --*/
  .carousel-item {
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
  }
 
  /*--- Bootstrap Padding Fix --*/
  [class*="col-"] {
      padding: 1rem;
  }