{%load static from staticfiles%}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Homepage</title>
  </head>
  <body>
    <div class="Menu">

      {%for cat in top_level_cats%}
        <b><a href="#">{{cat.name}}</a></b><br>
          {%for lc in llc%}
            {%if lc.parent == cat%}
            <i><a href="#">{{lc.name}}</a></i><br>
            {%endif%}
          {%endfor%}
      {%endfor%}
    </div>
    <div>


      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
