{% extends 'homepage.html' %}

{% block content %}

  <h1>Produktu saraksts</h1>
  <div class="products">
    {% for product in products %}
    <div class="products">
      <h2>{{product.title}}</h2>
      <img src="{{product.image.url}}"/>
      <p>
        {%for color in product.colors.all %}
          <img src="{{color.image.url}}" alt="{{color.name}}">
        {%endfor%}
      </p>
      <p>
        {%for size in product.sizes.size.all %}
          {{size}}
        {%endfor%}
      </p>
      <p>{{product.description}}</p>
      <p>Cena (bez PVN): {{product.price}}</p>
    <!--<p>Cena (ar PVN): Jāizmanto JavaScript, lai paņementu PVN vērtību un sareizinātu ar cenu un attēlot</p>-->
    </div>
    {% endfor %}
  </div>


{% endblock %}
